@charset "UTF-8";

/* ESTILO PARA A TELA DE RETRATO (LANDSCAPE)*/

html,body{
    background-color: rgb(255, 38, 0);
}
h1{
    background-image: linear-gradient(to right, gray, red);
    padding: 10px;
}