@charset "UTF-8";

/* ESTILO PARA A TELA DE RETRATO (TODAS TELA)*/
*{
    margin:0px;
    padding: 0px;
}
html, body{
    background-color: black;
    width: 100vw;
    height: 100vh;
}
h1{
    background-image:linear-gradient(to right , #808080a2, black);
    color: white;
    margin-top : 10px;
    margin-left: 20px;
}