@charset "UTF-8";

table{
    border-collapse: collapse ;
    
}
caption{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #d4caca;
    padding: 5px;
    text-decoration: overline;
}
thead th{
    border: 1px solid black;
    padding: 10px;
    background-color: gray;
}
td{
    border: 1px solid black;
    padding: 5px;
    width: 250px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
td.num{
    text-align: right;
    text-shadow: 0px 0px 5px black;
    width: 150px;

}
tr#ch{
    background-image:linear-gradient( to bottom, #dbd037, red  );
} 
tr#id{
    background-image:linear-gradient( to bottom, white, #ff9900, green  );
}
tr#eua{
    background-image:linear-gradient( to bottom, #0e479e,white, #d4488e );
}
tr#ind{
    background-image:linear-gradient( to bottom, white, red  );
}
tr#paq{
    background-image:linear-gradient( to bottom, white, rgb(3, 61, 3)  );
}
tr#nig{
    background-image:linear-gradient( to bottom, green, white  );
}
tr#bra{
    background-image:linear-gradient( to bottom, green, yellow,blue  );
}
.maior{
    width: 300px;
}
tfoot th{
    border: 1px solid black;
    padding: 2px;
    width: 250px;
    background-color: gray;
    color: white;
    text-shadow: 0px 0px 5px black;
}
tfoot td {
    color: white;
    background-color: gray;
    text-shadow: 0px 0px 7px black;
}